body {
background-color: #FF0000;                                   */Jakub Plechšmíd ZT1B
}





* {
font-family: "Times New Roman", sans-serif;
}


h1, h2 {
color: #3498DB
text-decoration: underline overline;
text-transform: uppercase;
}

h1 {
font-size: 24px;
}

h2 {
font-size: 12px;
}

header {
color: white;
border-style: solid;                                  */čárkované okraje
border-width: 3px;
border-radius: 20px;

padding: 30px;
margin: 30px;
}




main{
color: white;
border-style: dashed;
border-width: 3px;
border-radius: 20px;

padding: 30px;
margin: 30px;
}
h1, h2 {
color: #3498DB
text-decoration: underline overline;
text-transform: uppercase;
}

footer {
color: white;
border-style; dashed;
border-width: 3px;
border-radius: 20px;

padding: 30px;
margin: 30px;
}



img {
width: 100%;
}



nav ul {
display: flex;
justify-content: center;
flex-wrap: wrap;
}





nav ul li {
display: flex;
color: red;
border-style: dashed;
border-width: 1px;
border-radius: 5px;

padding: 5px;
margin-right: 20px;
margin-bottom: 10px;
}



nav ul li: hover {
background-color: white;
}



a {
text-decoration: none;
color: white;
}


table {
    color: white;
border-style: solid;                                  
border-width: 3px;
border-radius: 20px;
margin: 10px 10px 10px 0px;
padding: 10px;

}

table tr td{
    padding: 5px;
}

.name {
    padding-right: 50px;
}
